/* Header */
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 81px;
}
header h1 a {
  display: flex;
  align-items: center;
}
header h1 a img:first-child {
  width: 31px;
  height: 39px;
}
header h1 a img:last-child {
  width: 99.6px;
  height: 14.38px;
}
header nav ul {
  display: flex;
}
header nav li {
  margin-left: 58px;
}
header nav li:first-child {
  margin-left: 0;
}
header nav li a {
  font-size: 12px;
}
header .hamMenu {
  display: none;
}
/* main */
main {
  background-image: url(../images/mainBanner.png);
  height: 999px;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
main > div {
  padding-top: 327px;
}
main > div h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 61px;
}
main > div > div {
  font-family: 'Noto Sans', sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin: 70px 0 18px;
  line-height: 50px;
}
main > div > p:nth-child(3) {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 25px;
}
main > div > p:nth-child(4) {
  display: none;
}
main > div a .btn{
  background-color: #fff;
  border-radius: 20.5px;
  display: flex;
  align-items: center;
  padding: 11px 22px;
  width: 192px;
  height: 19px;
}
main > div a p {
  font-size: 16px;
  font-weight: 500;
  margin-right: 9px;
  color: var(--whoz-color);
}
main > div a img {
  transform: translateY(2px);
}

/* overview */
#overview {
  margin: 200px 0;
}
#overview > p {
  text-align: center;
}
#overview article {
  box-shadow: 0px 0px 19px 9px rgba(206, 206, 206, 0.25);
  border-radius: 16px;
}
#overview .head {
  font-family: 'Noto Sans', sans-serif;
  font-size: 36px;
  font-weight: 700;
}
#overview .cont {
  font-size: 18px;
  font-family: 'Noto Sans', sans-serif;
  margin: 17px 0 6px;
}
#overview .text {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  color: var(--gray-color);
}
#overview .bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
#overview .whoz {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  padding: 43px 0 40px 91px;
}
#overview .whoz .text {
  margin-bottom: 29px;
}
#overview .whoz .btn {
  display: flex;
  width: 188px;
  height: 41px;
  justify-content: center;
  align-items: center;
  background:var(--whoz-color);
  border-radius: 20.5px
}
#overview .whoz .btn p{
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  margin-right: 21px;
}
#overview .whoz .btn img {
  width: 11.5px;
  height: 9px;
  transform: translateY(1px);
}
#overview .DNA,
#overview .system {
  width: 48.84%;
  position: relative;
  padding: 58px 0 57px 7%;
}
#overview .DNA {
  margin-right: 2.307%;
}
#overview .text {
  margin-bottom: 29px;
  line-height: 22px;
}
#overview .DNA .text2 {
  display: none;
}
#overview .DNA p:last-child {
  font-size: 14px;
  color: var(--gray-color);
}
#overview .system .head {
  line-height: 45px;
}
#overview .system .cont {
  margin-bottom: 10px;
}
#overview .system .head2,
#overview .system .text2 {
  display: none;
}

/* DNA Insight */
#dnaInsights {
  text-align: center;
}
#dnaInsights .container{
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
}
#dnaInsights article {
  width: 31.923%;
  padding-right: 1.538%;
}
#dnaInsights article:last-child h4 {
  line-height: 27px;
}

#dnaInsights .img {
  overflow: hidden;
  width: 100%;
  height: 170px;
  border-radius: 9px;
}
#dnaInsights h4 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  margin: 32px 0 14px;
}
#dnaInsights .hash {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#dnaInsights .hash li {
  font-weight: 100;
  color: var(--gray-color);
  border-radius: 13px;
  padding: 3px 9px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  margin: 7px 3px 0 5px;
}

/* High-quality */
#quality {
  height: 350px;
  position: relative;
  text-align: center;
  margin-top: 200px;
}
#quality .grad {
  width: 100%;
  height: 100%;
  background-image: url(../images/man-in-lab-doing-experiments1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#quality .grad::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(91.45deg, #833AB4 3.65%, #FD1D1D 50.45%, #FCB045 98.37%);
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
}
#quality .container {
  color: #fff;
  position: absolute;
  top: 111px;
  left: 50%;
  transform: translateX(-50%);
}
#quality .container h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 25px;
}
#quality .container p {
  font-size: 18px;
  line-height: 25px;
}
#quality .container p:last-child {
  display: none;
}

/* Platform */
#platform {
  margin-top: 200px;
}
#platform > div {
  display: flex;
}
#platform .left {
  width: 10px;
  height: 89.07px;
  background-color: var(--whoz-color);
}
#platform .center {
  margin: 0 10px 0 8px;
}
#platform .center .pc p {
  font-size: 18px;
}
#platform .center .pc p:nth-child(1){
  margin: 60px 0 27px;
  line-height: 22px;
}
#platform .center .pc p:nth-child(2){
  margin-bottom: 24px;
  line-height: 22px;
}
#platform .left,
#platform .center {
  margin-top: 100px;
}
#platform .center .mobilie {
  display: none;
}
#platform > div img:last-child {
  display: none;
}


/* Use */
#use {
  margin-top: 199px;
}
#use > p {
  text-align: center;
}
#use .contents {
  display: flex;
  align-items: center;
  margin-top: 85px;
}
#use .contents:first-child {
  margin-bottom: 28px;
}
#use .contents img {
  border-radius: 9px;
  margin-right: 43px;
}
#use .contents img:nth-child(2) {
  display: none;
}
#use .text {
  font-family: 'Noto Sans', sans-serif;
}
#use .text h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 14px;
}
#use .text p {
  line-height: 25px;
}
#use .text p:last-child {
  display: none;
}

/* Give Back */
#giveBack {
  margin-top: 200px;
}
#giveBack .title{
  text-align: center;
  margin-bottom: 54px;
}
#giveBack .container {
  width: 904px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
#giveBack .container article{
  font-family: 'Noto Sans', sans-serif;
  background-repeat: no-repeat;
  width: 436px;
  height: 436px;
  border-radius: 30px;
}
#giveBack .container article:nth-child(1){
  background-image: url(../images/closeup-of-applicant-completing-application-form\ 1.png);
  margin-right: 32px;
  margin-bottom: 32px;
}
#giveBack .container article:nth-child(2){
  background-image: url(../images/concept-of-copyright-and-intellectual-property\ 1.png);
  color: #fff;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
#giveBack .container article:nth-child(3){
  background-image: url(../images/hand-holding-smartphone-with-electronic-bill-notification-flying-out-of-the-screen-for-connected-card-e-billing-and-payment-by-credit-card-via-electronic-wallet\ 1.png);
  margin-right: 32px;
}
#giveBack .container article:nth-child(4){
  background-image: url(../images/medium-shot-old-people-running-outdoors\ 1.png);
}
#giveBack .container article:nth-child(3) p,
#giveBack .container article:nth-child(4) p {
  line-height: 22px;
}
#giveBack .container .text {
  padding-top: 42px;
  padding-left: 37px;
}
#giveBack .container .text div {
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  margin-top: 17px;
  word-spacing: -2px;
}
#giveBack .container .text div:last-child {
  display: none;
}

/* Vision */
#vision {
  width: 100%;
  height: 422px;
  padding-bottom: 10%;
  display: flex;
  background-color: #f5f5f5;
  margin-top: 200px;
}
#vision img {
  display: none;
}
#vision .img {
  background-image: url(../images/innovation-and-idea-of-professional-leader-holding-lighting-bulb-thinking-management-concept\ 1.png);
  width: 45.052%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
#vision .contents {
  display: flex;
  width: 54.947%;
  margin-top: 122px;
  margin-left: 6.3541%;
}
#vision .contents .bar {
  width: 10px;
  height: 89.07px;
  background-color: var(--whoz-color);
  margin-right: 32px;
}
#vision .contents p {
  line-height: 19.36px;
  line-height: 25px;
}
#vision .contents .pc p:nth-child(1) {
  margin: 46px 0 22px;
}
#vision .contents .mobilie {
  display: none;
}

/* Partners */
#partners {
  text-align: center;
  margin: 200px 0;
}
#partners ul {
  display: flex;
  justify-content: center;
  margin-top: 85px;
}
#partners li {
  width: 270px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 13px rgba(206, 206, 206, 0.35);
  border-radius: 15px;
  margin-right: 1.66%;
  cursor: pointer;
}
#partners li:nth-child(1){background-image: url(../images/myongi_hospital.png);}
#partners li:nth-child(2){background-image: url(../images/dongam.png);}
#partners li:nth-child(3){background-image: url(../images/bareun.png);}
#partners li:nth-child(4){
  background-image: url(../images/symhpony.png);
  margin-right: 0;
}

/* Footer */
#footer {
  width: 100%;
  height: 200px;
  background-color: var(--whoz-color);
}
#footer p {
  color: #fff;
  text-align: center;
  line-height: 200px;
}

@media screen and (max-width:1070px) {
  
}